* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 20px 100px 20px 100px;
}

.circulo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: blue;
  top: 0;
  left: 0;
  clip-path: circle(40% at right 500px);
  z-index: -1;
}

.conteudo {
  width: 100%;
  display: flex;
  align-items: center;
}

.caixa-texto {
  width: 600px;
  display: block;
}

.img-logo {
  width: 80px;
}

h2 {
  color: #333;
  font-size: 40px;
  font-weight: 500;
}

span {
  color: blue;
  font-size: 50px;
  font-weight: 900;
}

p {
  font-size: 18px;
  display: block;
  margin-top: 30px;
  margin-right: 10%;
}

button {
  background: blue;
  color: white;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 25px 10px 25px;
  margin-top: 40px;
  font-size: 15px;
  display: block;
}

.caixa-imagem {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.img-home {
  position: relative;
  width: 50%;
  border-radius: 90px;
  margin-top: 40px;
  left: 50px;
}

.img-prod {
  width: 100px;
  height: 80px;
  cursor: pointer;
  transition: 1s;
  margin: 0;
}

.imagem-produto {
  display: flex;
  justify-content: center;
}

.img-prod:hover {
  transform: translateY(-25px);
}

/***********************************************************/
